python-dateutil==2.8.2
flask-redis==0.4.0
bleach==4.1.0
gunicorn==20.1.0
requests==2.26.0
dnspython==2.1.0
validators==0.18.2
psycopg2-binary==2.9.1
sqlalchemy==1.4.25
flask==2.0.2
click==8.0.2
jinja2==3.0.2
itsdangerous==2.0.1
MarkupSafe==2.0.1
werkzeug==2
flask-sqlalchemy==2
flask-wtf==0.15.1
flask-migrate==3.1.0
flask-mail==0.9.1
flask-caching==1
bs4==0
lxml==4